<html lang="br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Major</title>
</head>

<body>
    <h1>
      Parabéns {{ nome }}, você tem mais que 18 anos
    </h1>
  <form action="/major" method="GET">
  </form>
</body>

</html>
